/* ------------------------------------------------------------------
Project: Semantic
Place here your custom CSS styles
------------------------------------------------------------------ */
.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #fff;
}

.module-title span.small {
	color: white;
}

p a:link, p a:visited, p a:active, .list-indent a:link, .list-indent a:visited, .list-indent a:active {
	border-bottom: 2px dotted teal;
}

p a:hover, .list-indent a:hover {
	color:teal;
}

a.p-category {
	display: none;
}

#social-links a:link, #social-links a:visited, #social-links a:active, footer a:link, footer a:visited, footer a:active {
	border-bottom:none;
}

.yellow {color:teal;} /*TEAL*/

#home .caption-content {text-align: left;}
#home .caption-content .font-alt {text-transform: none !important;}

.btn.btn-y {
	background-color: teal;
	color: white;
}

.light-grey-section {
	background: #f2f2f2;
	color: black;
}

.light-grey-section p, .light-grey-section h2 {
	color: black;
}

.dark-section {
	background: rgba(0,0,0,0.9);
	color: white;
}

.dark-section p, .dark-section h2, .dark-section-80 p, .dark-section-80 h2, .dark-section-80 blockquote {
	color: white;
}

.dark-section-80 {
	background: rgba(0,0,0,0.80);
	color: white;
}

.dark-section-10 {
	background: rgba(0,0,0,0.10);
}

.dark-section-5 {
	background: rgba(0,0,0,0.05);
}

.process-block {
	vertical-align: top;
	min-height: 300px;
	}

.team-item {
	min-height:200px;
}

#category_list .post {
	height:400px;
}

#home {
	background-color: black;
	background-image: url(../images/home-mobile.jpg);
	background-repeat: none;
	}
	
#social-links .lead {
	font-size:26px;
	letter-spacing: 5px;
}

.copyright {
	line-height: 30px;
}

li.list-indent {
	list-style: none;
	border-left: 2px solid #fab700;
	margin-left:0px;
	padding-left:10px;
}

li h5 {
	margin-bottom:0px;
}

.grid-list {
	display: flex;
	flex-wrap: wrap;
}
.grid-list-item {
	display: flex;
}
.grid-list-content {
	display: flex;
	flex-direction: column;
}

#clients .grid-block {height:90px;}
/*small device*/
@media only screen and (min-width: 480px) {
	#home {
		background-image: url(../images/home-desktop7.jpg);
	}
	#social-links .lead { 
		font-size:22px;
		letter-spacing: 0;
		}
}
/*medium & larger device*/
@media (min-width: 768px){ 
	#home {
		background-image: url(../images/home-desktop7.jpg);
	}
}

.initial {border-bottom: 1px dotted gray;}

.initial:hover {
	cursor: help;
}

.module-hero .caption-content p {
	font-size:16px;
}

.flex-direction-nav a,.flex-control-nav > li > a{-webkit-transition:all .3s ease-in-out 0;-moz-transition:all .3s ease-in-out 0;-ms-transition:all .3s ease-in-out 0;-o-transition:all .3s ease-in-out 0;transition:all .3s ease-in-out 0}.flex-direction-nav a{position:absolute;display:block;height:100%;width:50%;top:0;z-index:10;overflow:hidden;opacity:0;margin:0}.flex-direction-nav .flex-prev{opacity:0;left:0;cursor:url(../images/prev-light.png),e-resize}.flex-direction-nav .flex-next{opacity:0;right:0;cursor:url(../images/next-light.png),e-resize}.flex-control-nav{position:absolute;width:auto;left:50%;bottom:10px;z-index:11;text-align:center;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}.flex-control-nav > li{display:inline-block;margin:5px 3px}.flex-control-nav > li > a{background:transparent;border:1px solid #fff;display:block;height:6px;width:6px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.flex-control-nav > li > a:hover,.flex-control-nav > li > a.flex-active{background:#fff}.hero-slider{position:relative;overflow:hidden}.hero-slider .slidebg{background-position:center;position:absolute;left:0;top:0;right:0;bottom:0;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}.hero-slider > .slides > li.flex-active-slide .slidebg.slide-zoom{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}.hero-slider > .slides > li .slidebg{-webkit-transition:transform 10s ease;-moz-transition:transform 10s ease;-ms-transition:transform 10s ease;-o-transition:transform 10s ease;transition:transform 10s ease}.hero-slider-dark .flex-direction-nav .flex-prev{opacity:0;left:0;cursor:url(../images/prev-dark.png),e-resize}.hero-slider-dark .flex-direction-nav .flex-next{opacity:0;right:0;cursor:url(../images/next-dark.png),e-resize}.hero-slider-dark .flex-control-nav > li > a{border:1px solid #000}.hero-slider-dark .flex-control-nav > li > a:hover,.hero-slider-dark .flex-control-nav > li > a.flex-active{background:#000}.hero-slider{margin:0!important}.hero-slider .slides > li{display:none;-webkit-backface-visibility:hidden}.hero-slider,.hero-slider .flex-viewport{height:100%!important;width:100%;padding:0;margin:0}.hero-slider .slides{height:100%!important;-webkit-transition-delay:1s;-moz-transition-delay:1s;transition-delay:1s}.hero-slider .slides li{background-position:center center;background-repeat:no-repeat;height:100%!important;width:100%;padding:0;margin:0;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}.hs-caption{position:relative;display:table;height:100%;position:relative;display:table;height:100%}.caption-content{display:table-cell;vertical-align:middle;text-align:center}.caption-content.left{vertical-align:bottom;text-align:left;padding:140px 0}.caption-content.right{vertical-align:bottom;text-align:right;padding:140px 0}@media (max-width: 767px){.caption-content.left,.caption-content.right{vertical-align:middle;text-align:center}}

#hbspt-form-1548963544818-22986501 {
    width: 100% !important;
}

iframe#hs-form-iframe-0 {
    width: 100% !important;
}

.hubspot-link__container {
    display: none;
}
